.high-scores {
    color: fuchsia;
    font-size: small;
    font-weight: lighter;
    display: inline;

}

#countdown {
    float: right;
    
}

#multiple-choice {
    font: weight 900px;
    padding: 5px;
    border-radius: 12px;
    margin: auto;
    width: 30%;
}

#multiple-choice p {
    width: 114%;
    margin-left: -28%;
    text-align: center;
}

.startButton {
    margin: 0;
    position: relative;
    top: 20%;
    left: 41%;
    background-color: indigo;
    color: white;
}

.firstQuestion {
    display: none;
}

#first-question-first-answer {
    margin: 0;
    position: relative;
    top: 15%;
    left: 35%;
    background-color: indigo;
    color: white;
    width: 11%;
    text-align: left;
    font-size: 15px;
}

#first-question-second-answer {
    margin: 0;
    position: relative;
    top: 18%;
    left: 35%;
    background-color: indigo;
    color: white;
    width: 11%;
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
}

#first-question-third-answer {
    margin: 0;
    position: relative;
    top: 21%;
    left: 35%;
    background-color: indigo;
    color: white;
    width: 11%;
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
}
#first-question-fourth-answer {
    margin: 0;
    position: relative;
    top: 24%;
    left: 35%;
    background-color: indigo;
    color: white;
    width: 11%;
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
}

.secondQuestion {
    display: none;
}

#second-question-first-answer {
    margin: 0;
    position: relative;
    top: 15%;
    left: 35%;
    background-color: indigo;
    color: white;
    width: 11%;
    text-align: left;
    font-size: 15px;
}

#second-question-second-answer {
    margin: 0;
    position: relative;
    top: 18%;
    left: 35%;
    background-color: indigo;
    color: white;
    width: 11%;
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
}

#second-question-third-answer {
    margin: 0;
    position: relative;
    top: 21%;
    left: 35%;
    background-color: indigo;
    color: white;
    width: 11%;
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
}
#second-question-fourth-answer {
    margin: 0;
    position: relative;
    top: 24%;
    left: 35%;
    background-color: indigo;
    color: white;
    width: 11%;
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
}
.thirdQuestion {
    display: none;
}

#third-question-first-answer {
    margin: 0;
    position: relative;
    top: 15%;
    left: 35%;
    background-color: indigo;
    color: white;
    width: 11%;
    text-align: left;
    font-size: 15px;
}

#third-question-second-answer {
    margin: 0;
    position: relative;
    top: 18%;
    left: 35%;
    background-color: indigo;
    color: white;
    width: 11%;
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
}

#third-question-third-answer {
    margin: 0;
    position: relative;
    top: 21%;
    left: 35%;
    background-color: indigo;
    color: white;
    width: 11%;
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
}
#third-question-fourth-answer {
    margin: 0;
    position: relative;
    top: 24%;
    left: 35%;
    background-color: indigo;
    color: white;
    width: 11%;
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
}

.allDone {
    display: none;
}